.row {
    color: white;
    margin-left: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.row_posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row_posters::-webkit-scrollbar{
    display: none;  
}

.row_image {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    margin-right: 10px;
    transition: transform 450ms;
}

.row_image:hover {
    transform: scale(1.08);
}

.row_large {
    max-height: 250px;
}

.row_large:hover {
    transform: scale(1.09);
}